.dot-nav {
  position   : relative;
  bottom     : 0px;
  text-align : center;

  ul, li {
    margin     : 0;
    padding    : 0;
    height     : $dot-nav-height;
    list-style : none;
  }

  li {
    display      : inline-block;
    margin-right : 8px;
    font-size    : 30px;
    color        : #333333;
    opacity      : 0.3;

    &:last-child {
      margin-right : 0;
    }
    &:before {
      content : '•';
    }

    &.selected {
      opacity : 1;
    }
  }

}