@import "compass/css3/transition";
@import 'config/vars';
@import 'bootstrap/bootstrap';
@import 'nav-button';
@import 'dot-nav';

.carousel {
  position : relative;
  width    : 90%;
  margin: 40px auto;
  overflow : hidden;

  .image-container {
    position   : relative;
    width      : 999999px; // initial dummy width
    left       : 0;

    @include transition(left 500ms ease-in-out);
  }

  .carousel-transition {

  }

  .caption {
    position   : absolute;
    width      : 100%;
    height     : 50px;
    bottom     : $dot-nav-height;

    background : $opaque-bg;

    h3 {
      margin      : 0;

      font-size   : 14px;
      color       : #FFFFFF;
      text-indent : 20px;
      line-height : 50px;
    }
  }

  .controls {
    position : absolute;
    width    : 100%;
    height   : calc(100% - #{$dot-nav-height});
    top      : 0;
    left     : 0;
  }
}

