.nav-button {
  position        : absolute;
  width           : 60px;
  height          : 60px;
  top             : 50%;
  margin-top      : -30px;

  border          : none;
  background      : $opaque-bg;

  display         : flex;
  align-items     : center;
  justify-content : center;

  color           : #FFFFFF;
  font-size       : 40px;

  cursor          : pointer;

  &:focus {
    outline : none;
  }

  &.left {
    left : 0;
  }
  &.right {
    right : 0;
  }

  span {
    top     : 0;
    opacity : 0.6;
  }

  // states
  &:hover {
    span {
      opacity : 1;
    }
  }
  &.disabled {
    color          : #CCCCCC;
    pointer-events : none;
  }

}
